.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gameboard {
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 2px solid black;
}

.cell {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background-color: rgb(177, 220, 255);
}